img#banner {
	display: inline-block;
	height: 75px;
	width: 100%;
	align: center;
	margin: 0;
}




header img {
	width: 98%;
	height: 200px;
	align-content: center;
	padding: 0 auto;
}

article.text-pane {
	background: rgba(191, 128, 255, .80);
	border-radius: 25px;
	padding: 15px;
}

nav#navpane {
	padding-bottom: 10px;
}

.img-circle {
	border-radius: 50%;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	font-family: Georgia;
	font-weight: bold;
}


.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-primary.focus,.btn-primary:focus {
	color: #fff;
	background-color: #286090;
	border-color: #122b40;
}

.btn-primary:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #204d74;
	border-color: #122b40;
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {
	background-image: none;
}

.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-primary .badge {
	color: #337ab7;
	background-color: #fff;
}

.btn-xlarge{
	font-size: 1.5em;
}

.btn-float-right{
	float: right;
}