body{
	/*background-color: #6a006a;*/
	background-image: url(../_images/panda-background.png);
}
a{
	color: #f18;
}
a:hover{
	text-decoration: none;
}
.navbar-inverse {
	background-color: #222;
	border-color: #080808;
}

.navbar-inverse .navbar-brand {
	color: #7F00FF;
}

.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover {
	color: #f18;
	background-color: transparent;
}

.navbar-inverse .navbar-text {
	color:#9d9d9d;
}

.navbar-inverse .navbar-nav>li>a {
	color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
	color: #f18;
	background-color: #080808;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover {
	color: #f18;
	background-color: #080808;
}

.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover {
	color: #444;
	background-color: transparent;
}

.navbar-inverse .navbar-toggle {
	border-color: #333;
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
	background-color: #333;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
	border-color: #101010;
}

.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover {
	color: #f18;
	background-color: #080808;
}

article.text-pane {
	background: rgba(127, 0, 255,1);
	border-radius: 25px;
	padding: 15px;
}


/**
 * header
 *
 */

 .main-header {
  position: relative;
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.main-header h1 {
  font-size: 50px;
  line-height: 1;
  color: #fff;
}
.main-header .btn-outline-inverse {
  margin: 10px;
}


.main-header-links {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 15px;
  list-style: none;
  text-align: center;
}
.main-header-links li {
  display: inline;
}
.main-header-links li + li {
  margin-left: 20px;
}
.main-header-links a {
  color: #fff;
}

@media (min-width: 768px) {
  .main-header {
    text-align: left;
    padding-top:    140px;
    padding-bottom: 140px;
  }
  .main-header h1 {
    font-size: 100px;
  }
  .main-header .lead {
    margin-right: 25%;
    font-size: 30px;
  }
  .main-header .btn-outline-inverse {
    width: auto;
    margin: 20px 5px 20px 0;
    padding: 18px 24px;
    font-size: 21px;
  }
  .main-header-links {
    padding: 0;
    text-align: left;
  }
}

.sub-header {
    color: #cdbfe3;
}

.navbar-toggle
{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    border:1px solid #444;          /* added line */
    border-radius:4px
}

img:not(#banner) {
	align: middle;
	height: 150px;
	width: 150px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

div.imageGroup {
	display: table;
	margin: 0 auto;
	text-align: center;	
	word-break: break-all;
}

p {
	margin: 0 50px;
	font-size: 1.5em;
	text-align: left;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h1.title {
	margin: 0 auto;
	width: 70%;
	font-family: Ariel,Georgia,sans-serif;
	text-align: center;
	font-weight: 400;
	color: black;
	font-size: 3em;
}

article.text-pane {
	background: #7F00FF;
	border-radius: 25px;
	padding: 15px;
}

article.form-pane {
	background: #f18;
	border-radius: 25px;
	padding: 15px;
}

#id3-pr{
	text-align: center;
background-image: -ms-radial-gradient(center top, circle closest-corner, #D7DEDE 0%, #B49BDE 50%);
background-image: -moz-radial-gradient(center top, circle closest-corner, #D7DEDE 0%, #B49BDE 50%);
background-image: -o-radial-gradient(center top, circle closest-corner, #D7DEDE 0%, #B49BDE 50%);
background-image: -webkit-gradient(radial, center top, 0, center top, 477, color-stop(0, #D7DEDE), color-stop(.5, #B49BDE));
background-image: -webkit-radial-gradient(center top, circle closest-corner, #D7DEDE 0%, #B49BDE 50%);
background-image: radial-gradient(circle closest-corner at center top, #D7DEDE 0%, #B49BDE 50%);
padding-top: 40px;
margin-top:0px;
margin-left: 0px;
margin-right: 0px;
position: relative;
}
#id3-pr ul{
	text-align: left;
	font-size: 20px;
	line-height: normal;
}
#id3-pr i{
	vertical-align: baseline;
}
#id2
{
	margin-bottom: 0px;
}
i{
vertical-align: baseline;	
}
#id15{
	text-align: left;
}
#id6, #id7{
	margin: 10px;
}article#id9{text-align:center;}#id10, #ftr{text-align:center;}#id8{}#id8-pr{}body{
padding:0px; margin:0;}
  #id4 h1 {font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.btn-windows{
	text-align: center;
	color: #fff;
	background-color: #ff0000;
	border-color: rgb(15, 15, 10);
	width: 150px;
	height: 40px;
}

.btn-mac {
	text-align: center;
	color: #fff;
	background-color: #0000ff;
	border-color: rgb(15, 15, 10);
	width: 150px;
	height: 40px;
}

.btn-windows:hover{
	color: #fff;
	background-color: #ff4d4d;
	border-color: rgb(15, 15, 10);
}

.btn-mac:hover {
	color: #fff;
	background-color: #3333ff;
	border-color: rgb(15, 15, 10);
}