img:not(#banner) {
	align: middle;
	height: 150px;
	width: 150px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

div.imageGroup {
	display: table;
	margin: 0 auto;
	text-align: center;
	word-break: break-all;
}

p {
	margin: 0 50px;
	font-size: 1.5em;
	text-align: left;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h1.title {
	margin: 0 auto;
	width: 70%;
	font-family: Ariel,Georgia,sans-serif;
	text-align: center;
	font-weight: 400;
	color: black;
	font-size: 3em;
}

article.text-pane {
	background: rgba(89, 60, 124, .94);
	border-radius: 25px;
	padding: 15px;
}