// CSS
/*
div.imageGroup {
	display: table;
	margin: 0 auto;
	text-align: center;
	word-break: break-all;
}

p {
	margin: 0 50px;
	font-size: 1.5em;
	text-align: justify;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h1.title {
	margin: 0 auto;
	width: 70%;
	font-family: Ariel,Georgia,sans-serif;
	text-align: center;
	font-weight: 400;
	color: red;
	font-size: 3em;
}

.background-image {
	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: fixed;
	background-size: cover;
}

*/